[Unit]
Description=Restro Management web application
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/var/www/restro-management
EnvironmentFile=/var/www/restro-management/.env
ExecStart=/usr/bin/npm run start
Restart=always
RestartSec=5
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target